@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 230, 235, 238; */

    --background-start-rgb: 242, 242, 246;
  --background-end-rgb: 245, 245, 247; 

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/*


* {
  cursor: url("/images/cursors/cursor.svg"), auto !important;
}
*/



.vercelBackground {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))),
    rgb(var(--background-start-rgb));
}

hr,
::before,
::after {
  border-color: #a1a1aa70;

}



img {
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
}


html {
  scroll-behavior: smooth;
  background-color: rgb(242, 242, 246)
}

#scrollSection {
  height: calc(100vh);
  /* Default for smaller screens */
}




.gradient-blur {
  inset: 0;
  height: 104px;
}

.gradient-blur>div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(calc(0.5px * pow(1.5, 1)));
  -webkit-backdrop-filter: blur(calc(0.5px * pow(1.5, 1)));
  mask: linear-gradient(to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%);
}

.gradient-blur>div:nth-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(calc(0.5px * pow(1.5, 2)));
  -webkit-backdrop-filter: blur(calc(0.5px * pow(1.5, 2)));
  mask: linear-gradient(to top,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%);
}

.gradient-blur>div:nth-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(calc(0.5px * pow(1.5, 3)));
  -webkit-backdrop-filter: blur(calc(0.5px * pow(1.5, 3)));
  mask: linear-gradient(to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%);
}

.gradient-blur>div:nth-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(calc(0.5px * pow(1.5, 4)));
  -webkit-backdrop-filter: blur(calc(0.5px * pow(1.5, 4)));
  mask: linear-gradient(to top,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%);
}

.gradient-blur>div:nth-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(calc(0.5px * pow(1.5, 5)));
  -webkit-backdrop-filter: blur(calc(0.5px * pow(1.5, 5)));
  mask: linear-gradient(to top,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%);
}

.gradient-blur>div:nth-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(calc(0.5px * pow(1.5, 6)));
  -webkit-backdrop-filter: blur(calc(0.5px * pow(1.5, 6)));
  mask: linear-gradient(to top,
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%);
}

.gradient-blur>div:nth-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(calc(0.5px * pow(1.5, 7)));
  -webkit-backdrop-filter: blur(calc(0.5px * pow(1.5, 7)));
  mask: linear-gradient(to top,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%);
}

.gradient-blur::after {
  content: "";
  z-index: 8;
  backdrop-filter: blur(calc(0.5px * pow(1.5, 8)));
  -webkit-backdrop-filter: blur(calc(0.5px * pow(1.5, 8)));

  mask: linear-gradient(to top,
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 1) 100%);
}


.gradient-background {
  top: 0;
  left: 0;
  right: 0;
  height: 104px;
  background-image: linear-gradient(to bottom,

      hsla(240, 20%,  96%, calc(0.2 * 1.000)) 0%,
      hsla(240, 20%,  96%, calc(0.2 * 0.738)) 19%,
      hsla(240, 20%,  96%, calc(0.2 * 0.541))34%,
      hsla(240, 20%,  96%, calc(0.2 * 0.382))47%,
      hsla(240, 20%,  96%, calc(0.2 * 0.278)) 56.5%,
      hsla(240, 20%,  96%, calc(0.2 * 0.194)) 65%,
      hsla(240, 20%,  96%, calc(0.2 * 0.126)) 73%,
      hsla(240, 20%,  96%, calc(0.2 * 0.075)) 80.2%,
      hsla(240, 20%,  96%, calc(0.2 * 0.042)) 86.1%,
      hsla(240, 20%,  96%, calc(0.2 * 0.021)) 91%,
      hsla(240, 20%,  96%, calc(0.2 * 0.008)) 95.2%,
      hsla(240, 20%,  96%, calc(0.2 * 0.002)) 98.2%,
      hsla(240, 20%,  96%, calc(0.2 * 0)) 100%);


}



* {
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

*::-webkit-scrollbar {
  /* display: none; */
}




::selection {
  /* background-color: rgba(0, 0, 0, 20);
  color: rgb(0, 0, 0); */
}


.flashing {

  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -ms-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}

@keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}



.textareaElement {
  width: 100%;
  min-height: 100px;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}







#hospital-container {
  resize: horizontal;
  width: calc(100%/0.75);
  min-width: 50%;
  max-width: 100%;
}

#hospital {
  width: calc(100%/ 0.75);
  transform: translate(-12.5%, -12.5%) scale(0.75);
  pointer-events: none;
  height: 500px;
}

.iframe-container {
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 375px;
  border: 1px solid rgba(255, 255, 255, 1);


}

.iframe {
  left: 0;
  width: 100%;
  height: 375px;

  border: none;


}


.scrolldown {
  position: relative;
  width: 30px;
  height: 50px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  border-radius: 3px;

  animation: scrolldown-anim 2s infinite;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 12px;
  }

  80% {
    opacity: 0;
    transform: translate(-50%, 20px);
    height: 12px;
  }

  100% {
    opacity: 0;
    height: 3px;
  }
}



.layer-shadow {

  box-shadow:

    rgba(28, 29, 33, 0.133) 0px 0.602187px 0.602187px -1.16667px,
    rgba(28, 29, 33, 0.12) 0px 2.28853px 2.28853px -2.33333px,
    rgba(28, 29, 33, 0.06) 0px 10px 10px -3.5px,
    rgba(28, 29, 33, 0.9) 0px 0px 0px 0px
}

.imgg {

  box-shadow:
    0 0.5px 1px hsl(0deg 0% 0% / 0.01),
    0 1px 2px hsl(0deg 0% 0% / 0.01),
    0 2px 4px hsl(0deg 0% 0% / 0.01),
    0 4px 8px hsl(0deg 0% 0% / 0.01),
    0 8px 16px hsl(0deg 0% 0% / 0.01);

}




@media (min-width: 768px) {
  .layer-shadow-hover:hover {
    box-shadow:
      rgba(28, 29, 33, 0.067) 0px 0.60219px 2.04744px -0.5px,
      rgba(28, 29, 33, 0.08) 0px 2.28853px 7.78101px -1px,
      rgba(28, 29, 33, 0.14) 0px 10px 34px -1.5px,
      rgba(28, 29, 33, 0.3) 0px 0px 0px 0px;
  }
}

.hover-menu {
  opacity: 0;
  transform: translateX(-30px) scale(0.3,0.7);
  transform-origin: left;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hover-item:hover+.hover-menu {

  opacity: 1;
  transform: translateX(5px) scale(1);
}

.arrowbefore::before{
  content: "• ";
}





.arrow {

	width: 0;
	height: 70px;
	border: 0.5px solid  #27272a;
	position: relative;
	animation: scroll 3s infinite;
	-webkit-animation: scroll 3s infinite;
	&::after {
		content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 1px;
    height: 10px;
		
    border-top: 10px solid #27272a;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
	}
}

@keyframes scroll {
	0% {
		height: 70px;
	}
	35% {
		height: 40px;
	}
	60% {
		height: 70px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 70px;
	}
	35% {
		height: 40px;
	}
	60% {
		height: 70px;
	}
}



