/* components/Modal.module.css */
.modalOverlay {

    
    /* background: rgba(245, 245, 245, 0); */

    background: linear-gradient(to bottom, 
                transparent, 
                rgb(var(--background-end-rgb))),
              rgb(var(--background-start-rgb));
              


    animation: fadeInOverlay 0.3s forwards;
    backdrop-filter: blur(10px);


}

@keyframes fadeInOverlay {
    to {
        background: rgba(245, 245, 245, 1);
    }
}



.modalContent { 


    scrollbar-width: none;

    /* 
    background-color: black;*/

    
    border: #d4d4d9 0px solid !important;

 /* 
    outline-style: solid;
    outline-color: #e6e6eb;
    outline-width: 4px; */


     /*0.1*/
    -webkit-box-shadow: 0px 30px 84px 6px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 0px 30px 84px 6px rgba(0, 0, 0, 0.0);
    box-shadow: 0px 30px 84px 6px rgba(0, 0, 0, 0.0);


}



 /*0.067,0.08,0.14,0.3*/
.layerShadowDark {
    box-shadow:
        rgba(28, 29, 33, 0.0) 0px 0.60219px 2.04744px -0.5px,
        rgba(28, 29, 33, 0.0) 0px 2.28853px 7.78101px -1px,
        rgba(28, 29, 33, 0.0) 0px 10px 34px -1.5px,
        rgba(28, 29, 33, 0.0) 0px 0px 0px 0px;
}






.hidden {
    opacity: 0 !important;
    pointer-events: none;
}



.projectItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adjust height as needed */
    /* Optional: Add a background color */
   transition: all 0.3s cubic-bezier(0.2, 0.8, 0.2, 1), opacity 0s ease-in;
    cursor: pointer;
    width: 100%;
    max-width: none;
    transform-origin: 50% 0;



}

.scaled {
    max-width: 960px;
    z-index: 10001;
    margin-bottom: 0 !important;
    transition: all 0.3s cubic-bezier(0.2, 0.8, 0.2, 1), opacity 0s ease-in !important;

}







.scaleDownn {
    /* transform: scale(0.8, 0.8) !important; */
    transform-origin: top;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.0);



}




.modalFadeIn {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.modalVisible {
    opacity: 1;
}

.detailsTransition {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.detailsVisible {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}