/* components/Modal.module.css */

.modalOverlay {
    background: rgba(245, 245, 245, 0);
    animation: fadeInOverlay 0.3s ease forwards;
}

@keyframes fadeInOverlay {
    to {
        background: rgba(241, 241, 241, 0);
    }
}

.modalContent {
    scrollbar-width: none;
    cursor: auto;
}

.modalFadeIn {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.modalVisible {
    opacity: 1;
}

.detailsTransition {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.detailsVisible {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.projectItem {
    transition: all 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.projectFadeOut {
    opacity: 0;
    transition: opacity 250ms;
    pointer-events: none;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}