/* components/Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 10000;
    animation: fadeInOverlay 0.3s forwards;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;

    



}

@keyframes fadeInOverlay {
    to {
        background: rgba(0, 0, 0, 0.1);
    }
}


.modalContent {
    max-height: calc(100vh - 20px);
    top: 20px;
    background: white;
    border-radius: 12px 12px 0 0;
    max-width: 960px;
    overflow-y: auto;
    position: absolute;
    z-index: 10002;
    scrollbar-width: none;


}


.layerShadowDark {
    box-shadow:
      rgba(28, 29, 33, 0.067) 0px 0.60219px 2.04744px -0.5px,
      rgba(28, 29, 33, 0.08) 0px 2.28853px 7.78101px -1px,
      rgba(28, 29, 33, 0.14) 0px 10px 34px -1.5px,
      rgba(28, 29, 33, 0.3) 0px 0px 0px 0px;
  }



.closeButton {
    position: fixed;
    height: 0;
    top: 12px;
    left: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.modalBody {
    
    z-index: 999999999999 !important;
    overflow-y: auto;
}

.hidden{
    opacity:0 !important;
    pointer-events: none;
}



.projectItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adjust height as needed */
    /* Optional: Add a background color */
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.11), opacity 0s ease-in;
    cursor: pointer;
    width: 100%;
    max-width: none;
    transform-origin: 50% 0;



}

.scaled {
    max-width: 960px;
    z-index: 10001;
    margin-bottom: 0 !important;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.16), opacity 0.5s ease-in !important;

}




.scaleDownn {
    /* transform: scale(0.8, 0.8) !important; */
    transform-origin: top;
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.0);

}